*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}


.navbar{
    height: 60px;
    background-color: rgb(13, 65, 60);
    color: rgb(240, 240, 240);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 113px;
}
.logo{
    background-image: url( "amazon logo.png");
    height: 50px;
    width: 100%;
} 
.border{
    border: 2px solid transparent;
}
.border:hover{
border: 2px solid white;
}
/* box 2*/
.add-first{
    font-size: .90rem;
    margin-left: 20px;

}
.add-second{
font-size: 1.5rem;
}
.add-icon{
    display: flex;
    align-items: center;
}
/** box 3 **/
.nav-search{
    display: flex;
    background-color: rgb(192, 25, 122);
    width: 920px;
    height: 40px;
    border-radius: 5px;
    justify-content: center;
    margin: 10px;
}
.search-select{
    background-color: hsla(86, 3%, 58%, 0.91);
    width: 50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius:5px;
    border: none;
    
}
.search-input{
    width: 850px;
}
.search-icon{
    width: 40px;
    margin-top:10px;
    margin-left: 0px;
    text-align: center;
}
.nav-search:hover{
    border: 2px solid rgb(192,25,122)
}
/** country select **/
.english{
    height: 50px;
    width: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(13, 65, 60)
    
}
.country{

    background-image: url("en2.jpg.png");
    background-color: rgb(16, 65,60);
    width:100%;
    height:15px;
     display: flex;
     justify-content: end;
     align-items: end;
     margin-top: 20px;
     
    }
.op{
    background-color: rgb(16,65,60);
    color:rgb(226, 240, 238);
    width: 50px;
    text-align: center;
    border: none;
    font-weight: 700;
    margin-right: 10px;
    margin-top: 20px;
}
/** hello section **/
.span{
    font-size: 10px;
}
.nav-acc{
    font-size: 1rem;
    font-weight: 700;
}
/** cart sectiion **/
.nav-cart i{
   font-size: 30px;
   font-weight: 700;
}
/** pannel **/

.pannel{
    height: 40px;
    background-color:rgb(22, 90, 83) ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.pannel-option p{
    display: inline;
    margin-left: 10px;
}
.pannel-option{
    width: 93%;
    font-size: 1rem;
}
/** first background **/

.first-img{
    background-image: url(first\ image.jpg);
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.first-message{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-bottom: 30px;
     
}
.first-message p{
    font-size: 0.85rem;
    font-weight: 500;
}
/** shop section **/
.shop-box{
    display: flex;
   background-color: rgb(19, 114, 74);
   justify-content: space-evenly;
}
.box{
    border: 2px solid black;
    height: 400px;
    width: 23%;
    background-color: antiquewhite;
    padding-left: 10px;
}
.box h2{
    margin-top: 10px;
    margin-left: 10px;
}
.box h4{
    margin-top: 20px;
    margin-left: 10px;
    font-weight: normal;
    color: rgb(76, 136, 189);
}
.grid{
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}



.pic img{
    width:80%;
    height: 100px;
    object-fit: cover;
    padding: 10px;
}
.pic p{
    padding-left: 10px;
}
.three{
  height: 300px;

}
.box-img img{
     height: 300px;
     width: 90%;
     padding-left: 10px;
     padding-top: 10px;
}

